In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\Vattan\ABADS\Hypothesis\Hypothesis Assignment\property.csv")

In [3]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [7]:
# To check the duplicates
df.duplicated().sum()

0

In [9]:
#To check the missing values
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [27]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [28]:
# Dropping the BuildingArea, YearBuilt and CouncilArea columns as these have missing values and are of no use in further analysis.

dfnew = df[['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG','Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount']]

In [29]:
dfnew

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,-37.81188,144.88449,Western Metropolitan,6543.0

In [30]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  Lattitude      13580 non-null  float64
 15  Longtitude     13580 non-null  float64
 16  Regionname     13580 non-null  object
 17  Propertycount  13580 non-null  float64
dtypes: float64(10), int64(1), object(7)
memory usage: 1.9+ MB

In [31]:
# Changing the data type of Date colume as it was object in the starting

import datetime as dt
dfnew['Date'] = dfnew['Date'].apply(pd.to_datetime)
dfnew['Date'] = pd.to_datetime(dfnew['Date'], format='%m/%d/%Y')

C:\Users\hp\AppData\Local\Temp\ipykernel_6476\2081006566.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  dfnew['Date'] = dfnew['Date'].apply(pd.to_datetime)
C:\Users\hp\AppData\Local\Temp\ipykernel_6476\2081006566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['Date'] = dfnew['Date'].apply(pd.to_datetime)
C:\Users\hp\AppData\Local\Temp\ipykernel_6476\2081006566.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfnew['Date'] = pd.to_datetime(dfnew['Date'], format='%m/%d/%Y')

In [32]:
dfnew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  datetime64[ns]
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  Lattitude      13580 non-null  float64
 15  Longtitude     13580 non-null  float64
 16  Regionname     13580 non-null  object
 17  Propertycount  13580 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(6)
memory usage: 1.9+ MB

3. For the suburb Abbotsford, what is the probability that out of 10 properties sold, 
3 will not have car parking? Use the column car in the dataset. Round off your answer to 3 decimal places.

In [35]:
# For Abbotsford suburb, collecting the data of Abbotsford only
df_abts = dfnew[dfnew['Suburb'] == 'Abbotsford']

In [36]:
df_abts.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-03-12,2.5,3067.0,2.0,1.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-04-02,2.5,3067.0,2.0,1.0,0.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-04-03,2.5,3067.0,3.0,2.0,0.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-04-03,2.5,3067.0,3.0,2.0,1.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-04-06,2.5,3067.0,3.0,1.0,2.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

In [38]:
df_abts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56 entries, 0 to 12886
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         56 non-null     object
 1   Address        56 non-null     object
 2   Rooms          56 non-null     int64
 3   Type           56 non-null     object
 4   Price          56 non-null     float64
 5   Method         56 non-null     object
 6   SellerG        56 non-null     object
 7   Date           56 non-null     datetime64[ns]
 8   Distance       56 non-null     float64
 9   Postcode       56 non-null     float64
 10  Bedroom2       56 non-null     float64
 11  Bathroom       56 non-null     float64
 12  Car            56 non-null     float64
 13  Landsize       56 non-null     float64
 14  Lattitude      56 non-null     float64
 15  Longtitude     56 non-null     float64
 16  Regionname     56 non-null     object
 17  Propertycount  56 non-null     float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(6)
memory usage: 8.3+ KB

In [39]:
# For the probability that out of 10 properties sold, 3 will not have car parking
# First we need to find out the probablity of having 0 car parking in whole Abbotsford.
Total_properties = len(df_abts)
Total_properties

56

In [40]:
zero_carparking = len(df_abts[df_abts['Car'] == 0])
zero_carparking

15

In [41]:
# Probability of zero car parking in whole Abbotsford
prob_zero_car_parking = zero_carparking/Total_properties
prob_zero_car_parking

0.26785714285714285

In [45]:
import matplotlib.pyplot as plt
from scipy.stats import binom

In [47]:
# Probablity that out of 10 properties sold, 3 without parking
# Here Total properties sold (Total Outcomes), 
n = 10
# Properties without car parking (Favorable Outcomes), 
k = 3
# Probability formula - 
pmf = binom.pmf(k, n, prob_zero_car_parking)
pmf

0.2600529293316224

In [49]:
# Rounding off the result to 3 decimal places
Result_rdoff = round(pmf,3)
Result_rdoff

0.26

4. In the suburb Abbotsford, what are the chances of finding a property with 3 rooms? Round your answer to 3 decimal places.

In [57]:
# Here Total Outcomes = Total Properties
n = Total_properties
# Favorable Outcomes = Properties with 3 bedrooms, k
propts_3bdroom = len(df_abts[df_abts['Rooms'] == 3])
propts_3bdroom

20

In [60]:
prob_3_room = propts_3bdroom/Total_properties
prob_3_room

0.35714285714285715

In [62]:
# Rounding off to 3 decimal places
Rdoff_3_rooms = round(prob_3_room,3)
Rdoff_3_rooms

0.357

5. In the suburb Abbotsford, what are the chances of finding a property with 2 bathrooms? Round your answer to 3 decimal places.

In [63]:
# Here
n = Total_properties
# k = prpt_2bthrm 
prpt_2bthrm = len(df_abts[df_abts['Bathroom'] == 2])
prpt_2bthrm

19

In [64]:
# Probablity of property with 2 bathrooms
prob_2_bthrm = prpt_2bthrm/Total_properties
prob_2_bthrm

0.3392857142857143

In [65]:
# Rounding off to 3 decimal places
Rdoff_2_bthrm = round(prob_2_bthrm,3)
Rdoff_2_bthrm

0.339

# 1. For the suburb Altona, it is postulated that a typical property sells for $800,000. 
# Use the data at hand to test this assumption. Is the typical property price really $800,000 or has it increased?
# Use a significance level of 5%.

In [79]:
df_altona = dfnew[dfnew['Suburb'] == 'Altona']
df_altona

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,Lattitude,Longtitude,Regionname,Propertycount
141,Altona,158 Queen St,3,h,520000.0,VB,Greg,2016-03-09,13.8,3018.0,3.0,2.0,1.0,352.0,-37.87000,144.82500,Western Metropolitan,5301.0
142,Altona,59 Bracken Gr,5,h,1525000.0,S,Greg,2016-03-12,13.8,3018.0,5.0,3.0,3.0,729.0,-37.87210,144.81050,Western Metropolitan,5301.0
143,Altona,1/123 Blyth St,2,t,720000.0,S,hockingstuart,2016-04-02,13.8,3018.0,2.0,1.0,2.0,292.0,-37.86870,144.81970,Western Metropolitan,5301.0
144,Altona,4 Blyth St,3,h,1120000.0,S,Barlow,2017-04-03,13.8,3018.0,3.0,1.0,2.0,506.0,-37.86930,144.83750,Western Metropolitan,5301.0
145,Altona,20 Linnet St,4,h,780000.0,PI,Sweeney,2016-04-06,13.8,3018.0,4.0,1.0,4.0,655.0,-37.86800,144.81540,Western Metropolitan,5301.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12216,Altona,86 Grieve Pde,3,h,913000.0,S,Greg,2017-03-09,11.0,3018.0,3.0,2.0,3.0,530.0,-37.86140,144.81931,Western Metropolitan,5301.0
12432,Altona,7/35 Grieve Pde,2,u,458000.0,SP,hockingstuart,2017-09-09,11.0,3018.0,2.0,1.0,1.0,63.0,-37.86933,144.81704,Western Metropolitan,5301.0
12634,Altona,6 Myrtle Gr,3,h,1248500.0,S,RT,2017-09-16,11.0,3018.0,3.0,1.0,3.0,710.0,-37.87182,144.81600,Western Metropolitan,5301.0
13338,Altona,20 Burt St,3,h,920000.0,VB,PRD,2017-08-26,11.0,3018.0,3.0,2.0,2.0,584.0,-37.86249,144.82162,Western Metropolitan,5301.0
13339,Altona,1/76 Queen St,2,u,801250.0,S,Sweeney,2017-08-26,11.0,3018.0,2.0,1.0,1.0,245.0,-37.87046,144.83482,Western Metropolitan,5301.0

In [80]:
null_h = df_altona[df_altona['Price'] == 800000]
null_h
null_h.value_counts().sum()

1

In [81]:
alt_h = df_altona[df_altona['Price'] > 800000]
alt_h
alt_h.value_counts().sum()

35

# 2. For the year 2016, is there any difference in prices of properties sold in the summer months vs winter months? 
# Consider months from October till March as winter months and the rest as summer months. Use a significance level of 5%.

In [83]:
# Firstly we have to create a new column called Month then we will group them into summer and winter months
# null_h = no_difference, summer_price = winter_price
# alt_h = summer_price in not equal to winter_price